* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'poppins', sans-serif;
}

.container {
    max-width: 90%;
     margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-size: 1.25rem;
    text-align: center;
}

textarea, button {
    outline: none;
    border: none;
    font-family: 'poppins', sans-serif;
    padding: 1em;
    border-radius: 3px;
}

textarea {
    width: 300px;
    height: 300px;
    margin: 2em 0;
    border: 1px solid gray;
    
}
.talk {
    background-color: green;
}
.reset {
    background-color: red;
}

